/* body{
    background-color: #E2D784;
    
}
.navigation-bar{
    padding: 4%;
}
.intro {
    padding-top:2%;
    padding-left:7%;
    padding-right:7%;
    background-color: white;
    height: 50%;
    margin-top: 1%;
} */

/* .msgs{
    text-align: center;
} */

/* .intro-div{
    padding: 2%;
    width: 60%;
    height: 50%;
} */


/* .car-image {
    max-width:100%;
} */

/* .laptop-display{
    padding:2%;
    margin-left: 10%;
    display: grid;

} */

/* .grid-item{
    display: inline-grid;
} */

/* .filter-div{
    border: 1px solid black;
    border-radius:5px ; */
    /* line-height: 200%; */
    /* padding: 7%;
    height: 8%;
    width: 100%;
    background-color: white; */
    /* margin: 3%; */
    /* grid-column-start: 1;
    grid-column-end: 2;
    margin-right:20%;
    padding-right:10%;
    position:sticky; top: 9%;
}

.filter-items {
    padding-top: 3%;
}
.display-items{
    background-color: white;
    border-radius:2%;
    border: 1px solid black;
    margin: 1%;
    padding: 1%;

}

.disp{
    grid-column-start: 2;
    grid-column-end: 4;
    margin-left: 5%; */
    
/* }

.display-items:hover{
    transform: scale(1.1);
} */
/* 

.pages {
    padding: 5% 8%; */
/* }

.product-container{
    padding: 0;
    border: 0;
} */

/* @media only screen and (max-width: 600px) {
    body {
        font-size: 3rem;
      
    }
  } */


/* .product-page, .reviews, .review-display{
    padding-top:2%;
    padding-bottom: 2%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: left;
} */

/* .reviews{ */
    /* border: 1px solid black; */
    /* width: 50%;
} */

/* .review-input{
    padding-top: 3%;
    padding-bottom: 3%;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}

table{
    border: 2px solid black;
    text-align: left;  
  }

.table-items {
    border: 2px solid black;
    text-align: left;
    
    word-wrap: break-word;
  }

.checkout-tab {
    padding: 3%;
    
} */
:root{
    --secondary: #FFFFFF;
    --primary: #92B4EC;
}
body, p, a, ul, li, footer{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
li{
    list-style-type: none;
}

body{
    background: var(--secondary);
    overflow-x: hidden; 
    /* font-size: 18px; */
}

.buttons{
    background: none;
    border: 2px solid var(--primary);
    color: var(--primary);
    padding: 6px 12px;
    text-transform: uppercase;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.6);
    display: inline-block;
    border-radius: 20px;
}

.buttons:hover{
    color: #222;
    background: var(--primary);
    cursor: pointer;
}

input, textarea, select{
    background: rgba(255, 255, 255, 0.05);
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #CA82FF;
}

h1, h2, h3, h4, p, a, li{
    color: #000;
    font-weight: normal;
}

h1,h3{
    font-size: 1.2em;
}
h2{
    font-size: 1.6em;
}
h4{
    font-size: 1.1em;
}
p{
    font-size: 1em;
}
.grid{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px;
}
#navigation{
    padding-top: 10px;
    position: sticky;
    top: 10px;
}
#navigation li{
    margin-left: 20px;
}
#navigation a{
    font-size: 1.1em;
}
#navigation a:hover{
    color: var(--primary);
}
#navigation form{
    width: 80%;
    max-width: 500px;
    margin: 20px;
}

#introduction{
    padding: 10px 20px 20px 20px;
    display: block;
}
#introduction h5{
    font-size: 2.1em; 
}
#introduction p{
    font-size: 2.0em;
    color: var(--primary);
}

#phones h2, #laptops h2,
#mp h2, #hr h2{
    text-align: center;
}

#phones h2:hover, 
#laptops h2:hover,
#mp h2:hover, #hr h2:hover{
    color: var(--primary);
}
.phone-img{
    padding: 30px 20px;
    text-align: center;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.7);

}
.phone-img img{
    border-radius: 20px;
    width: 100%;
    height: 300px;
}

#phones ul, #laptops ul,
#mp ul, #hr ul{
    padding: 30px 20px;
    background: rgba(0,0,0,0.05);
    margin-bottom: 20px;
}

#phones li, #laptops li,
#mp li, #hr li{
    padding: 10px;
    grid-column: span 4;
    text-align: center;
    border-radius: 20px;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.7);
}
#phones .item-display img, 
#laptops .item-display img,
#mp .item-display img, 
#hr .item-display img{
    height: 250px;
    width: 100%;
    margin: 10px auto;
    border-radius: 30px;
}
#phones li:hover, #laptops li:hover,
#mp li:hover, #hr li:hover{
    transform: scale(1.05);
}

footer{
    text-align: center;
}
.contact ul{
    padding: 30px 20px;
}
.contact li{
    padding: 10px;
    grid-column: span 4;
    text-align: center;
    /* border-radius: 20px; */
    box-shadow: 1px 2px 3px rgba(0,0,0,0.7);
}

.contact p{
    font-size: 0.8em;
}
#filters{
    padding: 30px 100px;
    /* border: 2px solid var(--primary); */
    margin: 20px auto;
    background: url("https://cdn.pixabay.com/photo/2014/04/05/09/30/tablet-314153_960_720.png");

    
}
#filters h5{
    /* text-align: center; */
    margin-bottom: 0;
}
#filters form{
    width: 50%;
    max-width: 400px;
    margin: 25px;
    /* text-align: center; */
}
#filters input, #filters label{
    /* width: 100%; */
    margin: 10px 0;
}

#results{
    margin: 20px auto;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.7);
}
#results .definitions{
    padding: 30px 0;
    margin: 15px auto;
    position: sticky;
    top: 10px;
    border: 2px solid var(--primary);
    border-radius: 20px;
    background: var(--secondary);
}
#results .display-items{
    box-shadow: 1px 2px 3px rgba(0,0,0,0.7);
    /* margin: 1px; */
}

#results .display-items:hover{
    transform: scale(1.1);
}

.pages{
    padding: 30px 60px;
}
@media screen and (min-width: 620px){
    
    #phones ul, #laptops ul,
    #mp ul, #hr ul{
        padding: 30px 50px;
    }
    .phone-img{
        padding: 30px 50px;
    }
}

@media screen and (min-width: 960px){
    body{
        font-size: 18px;
    }
    
    .grid{
        width: 100%;
        max-width: 1060px;
        margin: 0 auto;
    }
    #introduction{
        padding-bottom: 40px;
    }
    #phones{
        padding: 30px 20px;
    }
    
    .phone-img, #phones ul,
    #laptops ul,
    #mp ul, #hr ul{
        margin: 40px auto;
    }
    #phones li, #laptops li,
    #mp li, #hr li{
        grid-column: span 2;
    }
    footer{
        padding: 40px 20px;
    }
}

@media screen and (min-width: 1200px){
    body{
        font-size: 20px;
    }
    #phones{
        padding: 90px 0;
    }
    footer{
        padding: 80px 0;
    }
    
}



