{% include "header.html" %}


<section id="user">
    
    <h3>Your Information</h3>
    
      <div class="user-details ">
        <ul class="user-list grid">
            <li class="list-group-item">Full name: {{user.first_name}} {{user.last_name}}</li>
            <li class="list-group-item">Street: {{user.street}}</li>
            <li class="list-group-item">city: {{user.city}}</li>
            <li class="list-group-item">zip: {{user.zip}}</li>
            <li class="list-group-item">email {{user.mail}}  </li>
            <li class="list-group-item">phone {{user.phone}}</li>
            
          </ul>
          <a href="{{url_for('edit_profile', user_id=user.id)}}" class="buttons" aria-current="true">
            Edit profile
          </a>
          <a href="{{url_for('password_reset', user_id=user.id)}}" class="buttons" aria-current="true">
              Change password
          </a>
        </div>

        <div class="purchases">
            <h3>All Purchases</h3>
            <table>
              <tr>
                  <th>Product</th>
                  <th>Price</th>
                  <th>Quantity</th>
                  <th>Date</th>
              </tr>
            {%for order in user_order%}
                <tr>
                    <td>{{order.product_description}}</td>
                    <td>{{order.price}}</td>
                    <td>{{order.quantity}}</td>
                    <td>{{order.order_date.strftime('%d %b, %Y')}}</td>
                </tr>
            {%endfor%}
          </table>
          <h2>Total spent: </h2>
        </div>
        
        
</section>
   
  {% include "footer.html" %}
