{% include "header.html" %}

<section id="checkout-tab">
  <h2>Cart</h2>
  <ul class="checkout-items grid">
    {%for prod in prods%}
      <li class="check-item">
        <h4><strong></strong>{{prod.prod.product_description}}</h4>
        <h4><strong>Price </strong>{{prod.prod.price}}</h4>
        <h4><strong>Qty </strong>{{prod.qty}}</h4>
        <h4><strong>Total price </strong>{{prod.prod.price * (prod.qty)}}</h4>
        <button id="del-btn" class="del-btn buttons" data-id={{prods.index(prod)}}>remove</button>
      </li>
      {%endfor%}
  </ul>
  
      
    <div class="purchase">
      <h2><em> Total amount: ₦{{total}} </em></h2>
      {%if not current_user.is_authenticated: %}
    <a href="{{url_for('register', prev_page = 'cart')}}" role="button" class="buttons">Sign up </a><span> or </span>
    <a href="{{url_for('login', prev_page = 'cart')}}" role="button" class="buttons">Sign in</a>
    
    {%else:%}
    <!-- Button trigger modal -->
  <button type="button" class="buttons" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Buy Now
  </button>
    {%endif%}
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Checkout</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="{{url_for('create_checkout_session')}}" class="form-control" method="POST">
            <div class="mb-3">
            <input type="text" name="strt" id="strt" placeholder="street" required>
          </div>
          <div class="mb-3">
              <input type="text" name="city" id="city" placeholder="city" required>
          </div>
          <div class="mb-3">
              <input type="text" name="zip" id="zip" placeholder="zip" required>
          </div>
            <button class="buttons" type="submit">Checkout</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="buttons" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  </div>
  </section>


    


  <script>
    const delButtons = document.querySelectorAll(`.del-btn`)
for (let b of delButtons) {
    const btn = b;
    btn.onclick = function (e) {
        const prodId = e.target.dataset['id'];
        console.log('clicked')
        console.log(prodId)
        fetch(`/remove-from-cart/${prodId}`, {
            method: `DELETE`
        })
            .then(function (response) {
                return response.json()
            })
            .then(function (jsonResponse) {
                console.log(jsonResponse)
                if (jsonResponse) {
                    console.log("success")
                    window.location.href = "/cart"
                }
            })
    }
}
  </script>

{% include "footer.html" %}

