{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}
<section class="only-forms">
  {%if error != None%}
  <div class="errors">{{error}}</div>
  {%endif%}
  
    <div class="form-div">
      <form action="{{url_for('forgot_password')}}" method="post">
          <label for="forgot">Enter email address</label>
          <input type="email" name="mail" id="forgot">
          <input type="submit" class="buttons" value="Send me a link">
      </form>
    </div>
  
</section>
{% include "footer.html" %}