{% include "header.html" %}
<section class="intro">
  <div class="container-fluid">
        <div class="row">
        <div class="col-lg-4">
          <h3>filters</h3>
          <form class="" action="" method="post">
            <div class="col-auto">
              <label for="min-price" class="form-label" >Min price</label>
              <input id="min-price" type="number" class="form-control" value="40000">
            </div>
            <div class="col-auto">
              <label for="max-price" class="form-label">Max price</label>
              <input id="max-price" type="number" class="form-control" value="2000000">
            </div>
            <div class="form-check">
              <h4>Category</h4>
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">
                Laptops
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
              <label class="form-check-label" for="flexRadioDefault2">
                Iphones
              </label>
            </div>
            <button type="submit" value="submit" class="btn btn-outline-success" name = "submit_btn">Apply</button>
          </form>
        </div>

        <div class="col-lg-8">
          Intro placeholder
        </div>
      </div>
    </div>

</section>

<section class="laptop-display">
  <div class="row">
    {%for product in prods:%}
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="{{product.img_url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{product.product_name}}</h5>
          <p class="card-text">{{product.product_description}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Price: {{product.price}}</li>
          <li class="list-group-item">Category: {{product.category}}</li>
        </ul>
        <div class="card-body">
          <a href="{{url_for('product', id=product.id)}}" role="button" class="card-link btn btn-outline-success">Go to product</a>
        </div>
      </div>
    </div>
    {%endfor%}
  </div>
</section>

{% include "footer.html" %}

