{%include "header.html"%}
<main>
    <section id="introduction" class="grid">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://cdn.pixabay.com/photo/2021/11/16/15/35/technology-6801334__340.jpg" class="d-block w-100" alt="image of gadgets">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>First slide label</h5>
                      <p>Some representative placeholder content for the first slide.</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="https://cdn.pixabay.com/photo/2015/12/13/16/02/ios-1091302__340.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Second slide label</h5>
                      <p>Some representative placeholder content for the second slide.</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="https://cdn.pixabay.com/photo/2020/08/26/14/29/technology-5519649__340.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Third slide label</h5>
                      <p>Some representative placeholder content for the third slide.</p>
                    </div>
                  </div>
                    <div class="carousel-item">
                      <img src="https://cdn.pixabay.com/photo/2018/03/06/08/31/drone-3202860__340.jpg" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <h5>Third slide label</h5>
                        <p>Some representative placeholder content for the third slide.</p>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <img src="https://cdn.pixabay.com/photo/2017/08/07/22/21/technology-2608530__340.jpg" class="d-block w-100" alt="...">
                      <div class="carousel-caption d-none d-md-block">
                        <h5>Third slide label</h5>
                        <p>Some representative placeholder content for the third slide.</p>
                      </div>
                    </div>
                  </div>
                </div>
    </section>
    <section id="phones">
        <a href="{{url_for('phones')}}">
        <h2>Phones</h2>
        <div class="phone-img">
            <img src="https://cdn.pixabay.com/photo/2017/08/07/22/21/technology-2608530__340.jpg" alt="phone-img">
        </div>
        </a>

        <div class="item-display ">
            <ul class="grid">
              {%for phone in prods.phones%}
                <li>
                    <a href="{{url_for('product', id = phone.id)}}">
                        <img src="{{phone.img_url}}" alt="">
                        <h4>{{phone.product_description[:20]}}</h4>
                        <h5>{{phone.price}}</h5>
                    </a>
                </li>
                {%endfor%}
                
            </ul>
        </div>

    </section>
    <section id="laptops">
        <a href="{{url_for('laptops')}}">
        <h2>Laptops</h2>
        <div class="phone-img">
            <img src="https://cdn.pixabay.com/photo/2017/08/07/22/21/technology-2608530__340.jpg" alt="phone-img">
        </a>
        </div>

        <div class="item-display">
            <ul class="grid">
              {%for laptop in prods.laptop%}
              <li>
                  <a href="{{url_for('product', id = laptop.id)}}">
                      <img src="{{laptop.img_url}}" alt="">
                      <h4>{{laptop.product_description[:20]}}</h4>
                      <h5>{{laptop.price}}</h5>
                  </a>
              </li>
              {%endfor%}
                
            </ul>
        </div>

    </section>
    <section id="mp">
        <a href="{{url_for('purchased')}}">
        <h2>Most purchased</h2>
        <div class="phone-img">
            <img src="https://cdn.pixabay.com/photo/2017/08/07/22/21/technology-2608530__340.jpg" alt="phone-img">
        </div>
        </a>

        <div class="item-display">
            <ul class="grid">
              {%for mp in prods.most_purchased%}
              <li>
                  <a href="{{url_for('product', id = mp.id)}}">
                      <img src="{{mp.img_url}}" alt="">
                      <h4>{{mp.product_description[:20]}}</h4>
                      <h5>{{mp.price}}</h5>
                  </a>
              </li>
              {%endfor%}
                
            </ul>
        </div>

    </section>
    <section id="hr">
        <a href="{{url_for('rated')}}">
        <h2>Highly rated</h2>
        <div class="phone-img">
            <img src="https://cdn.pixabay.com/photo/2017/08/07/22/21/technology-2608530__340.jpg" alt="phone-img">
        </div>
        </a>

        <div class="item-display">
            <ul class="grid">
              {%for hr in prods.highly_rated%}
              <li>
                  <a href="{{url_for('product', id = hr.id)}}">
                      <img src="{{hr.img_url}}" alt="">
                      <h4>{{hr.product_description[:20]}}</h4>
                      <h5>{{hr.price}}</h5>
                  </a>
              </li>
              {%endfor%}
            
            </ul>
        </div>

    </section>

</main>
{%include "footer.html"%}