{% include "header.html" %}

<section class="laptop-display">
  <div class="container">
      <table>
          <tr>
              <th>id</th>
              <th>name</th>
            <th>description</th>
            <th>category</th>
            <th>price</th>
            <th>Quantity</th>
               <th>restock</th> 
                <th>edit product details</th>
                <th>delete product</th>
          </tr>
          {%for product in prods:%}
            <tr>
                <td>{{product.id}}</td>
                <td>{{product.product_name}}</td>
                <td>{{product.product_description}}</td>
                <td>{{product.category}}</td>
                <td>{{product.price}}</td>
                <td>{{product.quantity}}</td>
                <td><a href="{{url_for('restock', prod_id=product.id)}}">restock</a></td>
                <td><a href="{{url_for('edit', prod_id=product.id)}}">edit</a></td>
                <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    delete
                  </button>

                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Delete Product</h5>
            
                        </div>
                        <div class="modal-body">
                          <p>Are you sure you want to delete {{product.product_description}}?</p>
                          <a class="btn btn-outline-success" role="button" href="{{url_for('delete', prod_id=product.id)}}">delete</a>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
        
            </tr>
            {%endfor%}
      </table>  
        <a href="{{url_for('generate_report')}}">Generate inventory report</a>
    </div>
    
</section>

<div>
{%for page_num in pages.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2): %}
  {%if page_num:%}
    {%if pages.page == page_num:%}

      <a class="btn btn-dark mb-2" href="{{url_for(page_url, page=page_num)}}">{{page_num}}</a>
    {%else:%}
      <a class="btn btn-outline-dark mb-2" href="{{url_for(page_url, page=page_num)}}">{{page_num}}</a>
    {%endif%}
  {%else:%}
    ...
  {%endif%}
{%endfor%}
</div>
{% include "footer.html" %}

