{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}
<section class="only-forms">
  {%if error != None %}
  <div class="errors">{{error}}</div>
  {%endif%}
  <div class="form-div">
    
      {{ wtf.quick_form(form, extra_classes="flask-form", novalidate=True) }}
    
  
  <a href="{{url_for('register')}}" role="button" class="buttons">Sign up instead</a>
  <a href="{{url_for('forgot_password')}}" role="button" class="buttons">forgot password</a>
</div>
</section>
{% include "footer.html" %}
