{% include "header.html" %}
<section id="prodct" class="grid">
  <div class="prodct-img">  <img src="{{prod.img_url}}" class="card-img-top" alt="...">
  </div>
  <div class="prodct-txt">
    <h4>{{prod.product_name}}</h4>
    <h3><strong>Description:</strong> {{prod.product_description}}</h3>
    <h3 class=""><strong>Price: </strong>  {{prod.price}}</h3>
    <h3 class=""><strong>Quantity left: </strong> {{prod.quantity}}</h3>
    <h3 class=""><strong>Rating: </strong> {{rating}}</h3>

      <div><form id="kart-form{{prod.id}}" data-id="{{prod.id}}" class="cart-input" action="{{url_for('add_to_cart')}}" method="post">

        <label for="cart-item">Qty</label>
        <input type="hidden" name="prod_id" id="prod_id{{prod.id}}" value="{{prod.id}}">
        <input class="" style="width:70px;" type="number" name="quantity" id="cart-item{{prod.id}}" min="1" required>
        <input class="buttons" type="submit" value="Add to cart">
      </form>
    </div>
    
  </div>
</section>
<section id="new-rev">

  {%if logged_in %}
  {%for ord in current_user.order%}
  {%if ord in prod_orders %}
  <div class="reviews">
    <h4>Leave a review</h4>
  <form class="" method="post" id="review_form" data-id="{{prod.id}}">
    <div class="review-input">
    <label for="rating">Rate product</label>
    <input style="width: 60px;" type="number" name="rating" id="rating" max="5" min="1" required>

    </div>
    <div class="review-input">
    <textarea name="review" id="review" cols="20" rows="5" maxlength="150" required>Great Product</textarea>
    </div>
     <input class="buttons" type="submit" value="Submit">
  </form>
</div>
  {%break%}
  {%endif%}
  {%endfor%}
  {%endif%}
</section>
  <div class="review-display">
    <h4>Reviews and ratings</h4>
    {%for review in rev%}
    <ul class="commentList">
      <li>
          <div class="commenterImage">
            <img src="{{ 'zzz.sochi@gmail.com' | gravatar }}">
          </div>
          <div class="commentText">
            <small>Rating: {{review.rating}}/5</small>
            <p>{{review.review}}</p>
            <span class="date sub-text">{{review.customer.first_name}} {{review.customer.last_name}}  </span>  
          </div>
      </li>
    </ul>
  {%endfor%}
  </div>
  <script>
    const Revform = document.getElementById("review_form")
    console.log(Revform)
    Revform.onsubmit = function(e) {
      const prodctId = e.target.dataset["id"]

      e.preventDefault();
      const rate = document.getElementById("rating").value
      const rev = document.getElementById("review").value
      
      fetch("/add-rating/" + prodctId, {
        method: "POST",
        body: JSON.stringify({
          "rate": rate,
          "rev": rev
        }),
        headers: {
          "Content-Type": "application/json"
        }
      })

      .then(function (response) {
            return response.json();
        })
      .then(function (jsonResponse) {
                console.log(jsonResponse)
                if (jsonResponse) {
                    console.log("success")
                    window.location.href = `/product?id=${prodctId}`
                }
              })

      .catch(function () {
            alert(`Something went wrong`);
        })
    }
  </script>

  <script>
    const cartInput = document.querySelector(`.cart-input`);
    console.log(cartInput);
    cartInput.onsubmit = function (e) {

        const id_num = e.target.dataset['id']
    console.log(id_num)
    console.log(e)

    e.preventDefault();
    const qty = document.getElementById(`cart-item${id_num}`).value
    const prod_id = document.getElementById(`prod_id${id_num}`).value
    console.log(qty, prod_id)
    fetch("/add-to-cart", {
        method: "POST",
        body: JSON.stringify({
            "qty": qty,
            "prod_id": prod_id
        }),
        headers: {
            "Content-Type": "application/json"
        }
    })
        .then(function (response) {
            return response.json();
        })
        .then(function (jsonResponse) {
            console.log(jsonResponse);
            const feedback = jsonResponse['message'];
            alert(feedback)
            document.getElementById(`cart-item${id_num}`).value = ""

        })
        .catch(function () {
            alert(`Something went wrong`);
        })
}

  </script>

  {% include "footer.html" %}