{% include "header.html" %}
<div class="card mb-3">
  <img src="{{prod.img_url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{prod.product_name}}</h5>
    <p class="card-text">{{prod.product_description}}</p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{prod.price}}</li>
      <li><form id="kart-form{{prod.id}}" data-id="{{prod.id}}" class="cart-input" action="{{url_for('add_to_cart')}}" method="post">
        <div class=""></div>
        <label for="cart-item">Qty</label>
        <input type="hidden" name="prod_id" id="prod_id{{prod.id}}" value="{{prod.id}}">
        <input class="" style="width: 20%;" type="number" name="quantity" id="cart-item{{prod.id}}" min="1" required>
        <input class="btn btn-outline-success" type="submit" value="Add to cart">
      </form>
    </li>
    </ul>
    
  </div>
  <script>
    const cartInput = document.querySelector(`.cart-input`);
console.log(cartInput);
cartInput.onsubmit = function (e) {

    const id_num = e.target.dataset['id']
    console.log(id_num)
    console.log(e)

    e.preventDefault();
    const qty = document.getElementById(`cart-item${id_num}`).value
    const prod_id = document.getElementById(`prod_id${id_num}`).value
    console.log(qty, prod_id)
    fetch("/add-to-cart", {
        method: "POST",
        body: JSON.stringify({
            "qty": qty,
            "prod_id": prod_id
        }),
        headers: {
            "Content-Type": "application/json"
        }
    })
        .then(function (response) {
            return response.json();
        })
        .then(function (jsonResponse) {
            console.log(jsonResponse);
            const feedback = jsonResponse['message'];
            alert(feedback)
            document.getElementById(`cart-item${id_num}`).value = ""

        })
        .catch(function () {
            alert(`Something went wrong`);
        })
}

  </script>

  {% include "footer.html" %}