{% include "header.html" %}
<div class="card mb-3">
  <img src="{{prod.img_url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{prod.product_name}}</h5>
    <p class="card-text">{{prod.product_description}}</p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{prod.price}}</li>
      
    </ul>
    {%if not current_user.is_authenticated: %}
    <a href="{{url_for('register', prod=prod.id)}}" role="button" class="btn btn-outline-success">Sign up to buy</a>
    <a href="{{url_for('login', prod=prod.id)}}" role="button" class="btn btn-outline-success">or Sign in</a>

    {%else:%}
    <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Buy Now
  </button>
    {%endif%}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Checkout</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{{url_for('create_checkout_session')}}" class="form-control" method="POST">
          <input type="hidden" name="prod_id" value="{{prod.id}}" required>
          <div class="mb-3">
            <label for="qty">Quantity</label>
            <input type="number" name="qty" id="qty" value="1" required>
          </div>
          <div class="mb-3">
          <label for="strt">Street name</label>
          <input type="text" name="strt" id="strt" required>
        </div>
        <div class="mb-3">
            <label for="city">city</label>
            <input type="text" name="city" id="city" required>
        </div>
        <div class="mb-3">
            <label for="number">zip</label>
            <input type="text" name="zip" id="zip" required>
        </div>
          <button class="btn btn-outline-success" type="submit">Checkout</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
  </div>

  {% include "footer.html" %}