{% include "header.html" %}

<section class="laptop-display">
  <div class="purchases">
      <table>
          <tr>
              <th>Review id</th>
              <th>Customer id</th>
            <th>Product id</th>
               <th>Rating</th> 
                <th>Review</th>
                <th>Date</th>
                <th>Delete</th>
                
          </tr>
          {%for review in reviews:%}
            <tr>
                <td>{{review.id}}</td>
                <td>{{review.customer_id}}</td>
                <td>{{review.product_id}} </td>
                <td>{{review.rating}}</td>
                <td>{{review.review}}</td>
                <td>{{review.date}}</td>
                <td><a href="{{url_for('delete_review', id=review.id)}}"><i class="fa-solid fa-trash-can"></i></a> </td>
            </tr>
            {%endfor%}
      </table>  
        
    </div>
    
    
  </div>
</section>

<div>
{%for page_num in pages.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2): %}
  {%if page_num:%}
    {%if pages.page == page_num:%}

      <a class="buttons" href="{{url_for(page_url, page=page_num)}}">{{page_num}}</a>
    {%else:%}
      <a class="buttons" href="{{url_for(page_url, page=page_num)}}">{{page_num}}</a>
    {%endif%}
  {%else:%}
    ...
  {%endif%}
{%endfor%}
</div>
{% include "footer.html" %}

