{% include "header.html" %}

<section class="laptop-display">
  <div class="container">
      <table>
          <tr>
              <th>id</th>
              <th>customer id</th>
            <th>product id</th>
               <th>quantity</th> 
                <th>order date</th>
                
          </tr>
          {%for product in prods:%}
            <tr>
                <td>{{product.id}}</td>
                <td>{{product.customer_id}}</td>
                <td>{{product.product_id}} </td>
                <td>{{product.quantity}}</td>
                <td>{{product.order_date}}</td>
            </tr>
            {%endfor%}
      </table>  
        <a href="{{url_for('generate_sales')}}">Generate sales report</a>
    </div>
    
    
  </div>
</section>

<div>
{%for page_num in pages.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2): %}
  {%if page_num:%}
    {%if pages.page == page_num:%}

      <a class="btn btn-dark mb-2" href="{{url_for(page_url, page=page_num)}}">{{page_num}}</a>
    {%else:%}
      <a class="btn btn-outline-dark mb-2" href="{{url_for(page_url, page=page_num)}}">{{page_num}}</a>
    {%endif%}
  {%else:%}
    ...
  {%endif%}
{%endfor%}
</div>
{% include "footer.html" %}

